## Variáveis - Estruturas de Dados - Loops - Condicionais - Métodos e Funções

## Variáveis

In [1]:
#A variável a se torna uma variável do tipo inteiro.
a=10
a

10

In [2]:
#A variável b se torna uma variável do tipo float.
b=1.2
b

1.2

In [3]:
# a variável c se torna uma variável do tipo string.
c = "Olá Mundo"
c

'Olá Mundo'

In [ ]:
# solicitar ao usuário a atribuição de valor à variável
nome = input("Entre com o seu nome:")

In [ ]:
# converte a entrada do usuário para inteiro
numero = int(input("Entre com um número:"))

In [ ]:
# converte a entrada do usuário para inteiro
numero = float(input("Entre com a sua altura:"))

## STRINGS

In [ ]:
print("Olá Mundo")

## Concatenação de strings

In [4]:
print("Apostila"+" Python")
a='Programação '
b='Python'
c=a+b
print(c)

Apostila Python
Programação Python

## Manipulação de strings

In [1]:
#len()
#Retorna o tamanho da string.
teste = "Apostila de Python"
len(teste)

18

In [2]:
#capitalize()
#Retorna a string com a primeira letra maiúscula
a = "python"
a.capitalize()

'Python'

In [5]:
#count()
#Informa quantas vezes um caractere (ou uma se-quência de caracteres) aparece na string.
b = "Linguagem Python"
b.count("n")

2

In [6]:
#startswith()
#Verifica se uma string inicia com uma determinada sequência.
c = "Python"
c.startswith("Py")

True

In [7]:
#endswith()
#Verifica se uma string termina com uma determinada sequência.
d = "Python"
d.endswith("Py")

False

In [8]:
#isalnum() 
#Verifica se a string possui algum conteúdo alfanumérico (letra ou número).
e = "!@#$%"
e.isalnum()

False

In [9]:
#isalpha()
#Verifica se a string possui apenas conteúdo alfabético.
f = "Python"
f.isalpha()

True

In [10]:
#islower()
#Verifica se todas as letras de uma string são minúsculas.
g = "pytHon"
g.islower()

False

In [11]:
#isupper()
#Verifica se todas as letras de uma string são maiúsculas.
h = "# PYTHON 12"
h.isupper()

True

In [12]:
#lower()
#Retorna uma cópia da string trocando todas as letras para minúsculo.
i = "#PYTHON 3"
i.lower()

'#python 3'

In [13]:
#upper()
#Retorna uma cópia da string trocando todas as letras para maiúsculo.
j = "Python"
j.upper()

'PYTHON'

In [14]:
#swapcase()
#Inverte o conteúdo da string (Minúsculo / Maiúsculo).
k = "Python"
k.swapcase()

'pYTHON'

In [17]:
#title()
#Converte para maiúsculo todas as primeiras letras de cada palavra da string.
l = "apostila de python"
l.title()

'Apostila De Python'

In [18]:
#split()
#Transforma a string em uma lista, utilizando os espaços como referência.
m = "cana de açúcar"
m.split()

['cana', 'de', 'açúcar']

In [19]:
#replace(S1, S2)
#Substitui na string o trecho S1 pelo trecho S2.
n = "Apostila teste"
n.replace("teste", "Python")

'Apostila Python'

In [23]:
#find()
#Retorna o índice da primeira ocorrência de um determinado caractere na string. 
#Se o caractere não estiver na string retorna -1.
o = "Python"
o.find("h")

3

In [21]:
o = "Python"
o.find("a")

-1

In [24]:
#ljust()
#Ajusta a string para um tamanho mínimo à esquerda
#Acrescentando espaços à direita se necessário.
p = " Python"
p.ljust(15)

' Python        '

In [25]:
#rjust()
#Ajusta a string para um tamanho mínimo à direita
#Acrescen-tando espaços à esquerda se necessário.
q = "Python"
q.rjust(15)

'         Python'

In [26]:
#center()
#Ajusta a string para um tamanho mínimo
#Acrescentando espaços à esquerda e à direita, se necessário.
r = "Python"
r.center(10)

'  Python  '

In [27]:
#lstrip() 
#Remove todos os espaços em branco do lado esquerdo da string.
s = " Python "
s.lstrip()

'Python '

In [29]:
#rstrip()
#Remove todos os espaços em branco do lado direito da string.
t = " Python "
t.rstrip()

' Python'

In [30]:
#strip()
#Remove todos os espaços em branco da string.
u = " Python "
u.strip()

'Python'

## Fatiamento de Strings

In [33]:
#O fatiamento é uma ferramenta usada para extrair apenas uma parte dos elementos de uma string.

#Retorna uma string com os elementos das posições do limite inferior até o limite superior - 1.

In [34]:
#seleciona os elementos das posições 1,2,3
s = "Python"
s[1:4]

'yth'

In [35]:
#seleciona os elementos a partir da posição 2
s = "Python"
s[2:]

'thon'

In [36]:
#seleciona os elementos até a posição 3
s="Python"
s[:4]

'Pyth'

## Exercícios de Strings

In [38]:
#1) Considere a string A = "Um elefante incomoda muita gente".
#Que fatua correspnde a "elefante incomoda"
A[3:20]

'elefante incomoda'

In [52]:
#2) Escreva um programa que solicite uma frase ao usuário e escreva a frase toda em maiúscula 
#e sem espaços em branco
frase = input("Digite algo aqui:")
frase_sem_espacos = frase.replace(' ', '')
frase_maiuscula = frase_sem_espacos.upper()
print(frase_maiuscula)

Digite algo aqui:Luciana Almeida da Silveira    abc
LUCIANAALMEIDADASILVEIRAABC

## NÚMEROS

In [ ]:
#Os quatro tipos numéricos simples, utilizados em Python, são:
"""
#números inteiros (int)
#números longos (long)
#números decimais (float)
#números complexos (complex)
"""

## Operadores Numéricos

In [ ]:
#Operadores aritméticos, lógicos, de comparação e de bit.

## Operadores Aritméticos

In [53]:
#Soma
5+5

10

In [54]:
#Subtração
7-2

5

In [55]:
#Multiplicação
2*2

4

In [56]:
#Divisão
4/2

2.0

In [57]:
#Resto da Divisão
10%3

1

In [58]:
#Potência
4**2

16

## Operadores de Comparação

In [2]:
#Menor que
a=5
a<10

True

In [3]:
#Menor ou igual
a=10
a<=10

True

In [4]:
#Maior que
c=5
c>2

True

In [6]:
#Maior ou igual
d=8
d>=8

True

In [7]:
#Igual
e=5 #atribuição
e==5 #igualdade

True

In [8]:
#Diferente
f=10
f!=12

True

## Operadores Lógicos

In [9]:
#Not
not a

False

In [10]:
#And
a=10
c=5
(a<=10)and(c==5)

True

In [11]:
#Or
a=10
c=8
(a<=10)or(c==5)

True

## Exercícios de Números

In [12]:
#1) Escreva um programa que receba 2 valores do tipo inteiro x e y, e calcule o valor de z:
x=float(input("Digite o valor de x:"))
y=float(input("Digite o valor de y:"))
z=(x**2+y**2)/(x-y)**2
print("z= ", z)

Digite o valor de x:10
Digite o valor de y:20
z=  5.0

In [16]:
#2)Escreva um programa que receba o salário de um funcionário (float), 
#e retorne o resultado do novo salários com reajuste de 35%
salario = float(input("Digite o salário atual:"))
novo_salario = salario*1.35
print("Novo salário = R$ %.2f" %novo_salario)

Digite o salário atual:5000.00
Novo salário = R$ 6750.00

## LISTAS

In [17]:
#Lista é um conjunto sequencial de valores, onde cada valor é identificado através de um índice.
"""
O primeiro valor tem índice 0. Uma lista em Python é declarada da seguinte forma:

    Nome_Lista = [valor1, valor2, ..., valorN]

Uma lista pode ter valores de qualquer tipo, incluindo outras listas.
"""

In [25]:
L=[3,'abacate',9.7,[5,6,3],"Python", (3,'j')]
print(L)
print(L[2])

[3, 'abacate', 9.7, [5, 6, 3], 'Python', (3, 'j')]
9.7

In [21]:
print(L[3])

[5, 6, 3]

In [22]:
print(L[3][1])

6

In [26]:
#Alteração de elemento da lista, atribuição de valor através do índice:
L[3]='morango'
print(L)

[3, 'abacate', 9.7, 'morango', 'Python', (3, 'j')]

In [28]:
#A tentativa de acesso a um índice inexistente resultará em erro
L[7] = 'banana'

## Funções para manipulação de listas

In [29]:
#len()
#retorna o tamanho da lista
L=[1,2,3,4]
len(L)

4

In [30]:
#min()
#retorna o menor valor da lista
L=[10,40,30,20]
min(L)

10

In [31]:
#max()
#retorna o maior valor da lista
L=[10,40,30,20]
max(L)

40

In [32]:
#sum
#retorna a soma dos elementos da lista
L=[10,20,30]
sum(L)

60

In [34]:
#append
#adiciona um novo valor no final da lista
L=[1,2,3]
L.append(100)
L

[1, 2, 3, 100]

In [37]:
#extend 
#insere uma lista no final de outra lista
L=[0,1,2]
L.extend([3,4,5])
L

[0, 1, 2, 3, 4, 5]

In [38]:
#del
#remove um elemento da lista, dado seu índice
L=[1,2,3,4]
del L[1]
L

[1, 3, 4]

In [39]:
#in
#verifica se um valor pertence à lista
L=[1,2,3,4]
3 in L

True

In [40]:
#sort()
#ordena em ordem crescente
L=[3,5,2,4,1,0]
L.sort
L

[3, 5, 2, 4, 1, 0]

In [41]:
#reverse()
#inverte os elementos de uma lista
L=[0,1,2,3,4,5]
L.reverse()
L

[5, 4, 3, 2, 1, 0]

## Operação com listas

In [43]:
#Concatenação(+)
a=[0,1,2]
b=[ 3,4,5]
c=a+b
print(c)

[0, 1, 2, 3, 4, 5]

In [44]:
#Repetição(*)
L=[1,2]
R=L*4
print(R)

[1, 2, 1, 2, 1, 2, 1, 2]

In [50]:
#Fatiamento de Listas
#Semelhante ao fatiamento de strings
L=[3,'abacate', 9.7, [5,6,3], "Python", (3,'j')]
L[1:4]

['abacate', 9.7, [5, 6, 3]]

In [51]:
L[2:]

[9.7, [5, 6, 3], 'Python', (3, 'j')]

In [52]:
L[:4]

[3, 'abacate', 9.7, [5, 6, 3]]

## Criação de Listas com Range

In [54]:
#A função range() define um intervalo de valores inteiros. 
"""
Associada a list(), cria uma lista com os valores do intervalo.
A função range() pode ter de 1 a 3 parâmetros:
    range(n) --> gera um intervalo de 0 a n-1
    range(i,n) --> gera um intervalo de i a n-1
    range(i, n, p) --> gera um intervalo de i a n-1 com intervalo p entre os números
"""

'\nAssociada a list(), cria uma lista com os valores do intervalo.\nA função range() pode ter de 1 a 3 parâmetros:\n    range(n) --> gera um intervalo de 0 a n-1\n    range(i,n) --> gera um intervalo de i a n-1\n    range(i, n, p) --> gera um intervalo de i a n-1 com intervalo p entre os números\n'

In [55]:
L1 = list(range(5))
print(L1)

[0, 1, 2, 3, 4]

In [56]:
L2 = list(range(3,8))
print(L2)

[3, 4, 5, 6, 7]

In [57]:
L3=list(range(2,11,3))
print(L3)

[2, 5, 8]

## Exercícios de Listas

In [59]:
L=[5,7,2,9,4,1,3]
L

[5, 7, 2, 9, 4, 1, 3]

In [60]:
#tamanho da lista
len(L)

7

In [61]:
#maior valor da lista
max(L)

9

In [62]:
#menor valor da lista
min(L)

1

In [63]:
#soma de todos os elementos da lista
sum(L)

31

In [64]:
#lista em order crescente
L.sort()
L

[1, 2, 3, 4, 5, 7, 9]

In [65]:
#lita em ordem decrescente
L.reverse()
L

[9, 7, 5, 4, 3, 2, 1]

In [68]:
#gera uma lista contendo os múltiplos de 3 entre 1 e 50.
L=list(range(3,50,3))
print(L)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

## TUPLAS

In [ ]:
"""
Tupla, assim como a Lista, é um conjunto sequencial de valroes, onde cada valor é identificado através de um índice.
A principal diferença entre elas é que as tuplas são imutáveis, ou seja, seus elementos não podem ser alterados.
Dentre as utilidades das tuplas, destacam-se as operações  de empacotamento e desempacotamento de valores.
Uma tupla em Python é declarada da seguinte forma:

    Nome_tupla = (valor1, valor2,... valorN)
    
A tupla é imutável, ou seja, não aceita o método append. 
Também não é possível deletar um item da tupla, mas sim a tupla inteira.
"""

In [69]:
T = (1,2,3,4,5)
print(T)

(1, 2, 3, 4, 5)

In [70]:
print(T[3])

4

In [71]:
T[3]

4

In [73]:
T[3]=8
#Este comando irá gerar um erro, pois uma tupla não suporta alteração de valores.

TypeError: 'tuple' object does not support item assignment

In [ ]:
"""Uma ferramenta muito utilizada em tuplas é o desempacotamento, 
que permite atribuir os elementos armazenados em uma tupla a diversas variáveis.
"""

In [74]:
T=(10,20,30,40,50)
a,b,c,d,e = T
print("a=", a, "b=", b)

a= 10 b= 20

In [75]:
print("d+e=", d+e)

d+e= 90

In [181]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes")

# Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes')

In [182]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [184]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

tupla1

'Chocolate'

In [185]:
tupla1[0]

'C'

In [186]:
tupla1 = ("Geografia", 23, "Elefantes")

In [187]:
tupla1[0]

'Geografia'

In [188]:
# Verificando o comprimento da tupla
len(tupla1)

3

In [189]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes')

In [190]:
tupla1.index('Elefantes')

2

In [191]:
# Tuplas não suportam atribuição de item
tupla1[# Deletando a tupla

TypeError: 'tuple' object does not support item assignment

In [194]:
#é possível eliminar um tupla
del tupla1

In [195]:
#veja que agora a tupla não existe mais
tupla1

NameError: name 'tupla1' is not defined

In [196]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [197]:
t2

('A', 'B', 'C')

In [198]:
# Usando a função list() para converter uma tupla para lista
#dessa forma, conseguiremos alterar valores de itens da tupla
lista_t2 = list(t2)

In [199]:
lista_t2

['A', 'B', 'C']

In [200]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [201]:
t2

('A', 'B', 'C')

## DICIONÁRIOS

In [ ]:
"""
Dicionários é um conjunto de valores, onde cada valor é associado a uma chave de acesso.
Um dicionário em Python é declarado da seguinte forma:

    Nome_dicionario = {chave1: valor1,
                       chave2: valor2,
                       chave3: valor3,
                       ...
                       chaveN: valorN}
"""

In [76]:
D={"arroz": 17.30, "feijão": 12.50, "carne": 23.90, "alface": 3.40}
print(D)

{'arroz': 17.3, 'feijão': 12.5, 'carne': 23.9, 'alface': 3.4}

In [77]:
print(D["carne"])

23.9

In [78]:
#É possível acrescentar ou modificar valores no dicionário:
D["carne"]=25.0
D["tomate"]=8.80
print(D)

{'arroz': 17.3, 'feijão': 12.5, 'carne': 25.0, 'alface': 3.4, 'tomate': 8.8}

In [ ]:
#Os valores do dicionários não possuem ordem, por isso a ordem de impressão dos valores não é sempre a mesma.

## Operações em Dicionários

## Manipulação de Dicionários

In [79]:
#del
#Exclui um item informando a chave
del D["feijão"]
print(D)

{'arroz': 17.3, 'carne': 25.0, 'alface': 3.4, 'tomate': 8.8}

In [80]:
#in
#verificar se uma chave existe no dicionário
"batata" in D

False

In [81]:
"alface" in D

True

In [84]:
#keys()
#obtém as chaves de um dicionários
D.keys()

dict_keys(['arroz', 'carne', 'alface', 'tomate'])

In [85]:
#values()
#Obtém os valores de um dicionário
D.values()

dict_values([17.3, 25.0, 3.4, 8.8])

In [ ]:
#Os dicionários podem ter valores de diferentes tipos.

In [87]:
Dx={2:"carro",3:[4,5,6],7:('a','b'),4: 173.8}
print(Dx[7])

('a', 'b')

## Exercícios de Dicionários

In [156]:
Lanchonete={"salgado":4.50, "lanche": 6.50, "suco": 3.00, "refrigerante": 3.50, "doce": 1.00}

In [157]:
print(Lanchonete)

{'salgado': 4.5, 'lanche': 6.5, 'suco': 3.0, 'refrigerante': 3.5, 'doce': 1.0}

In [158]:
classe={"Ana": 4.5, "Beatriz": 6.5, "Geraldo": 1.0, "José": 10.0, "Maria": 9.5}
print(classe)

{'Ana': 4.5, 'Beatriz': 6.5, 'Geraldo': 1.0, 'José': 10.0, 'Maria': 9.5}

In [159]:
notas=classe.values()
print(notas)

dict_values([4.5, 6.5, 1.0, 10.0, 9.5])

In [160]:
media=sum(notas)/5
print("A média da classe é", media)

A média da classe é 6.3

In [163]:
classe.keys()

dict_keys(['Ana', 'Beatriz', 'Geraldo', 'José', 'Maria'])

In [165]:
classe.items()

dict_items([('Ana', 4.5), ('Beatriz', 6.5), ('Geraldo', 1.0), ('José', 10.0), ('Maria', 9.5)])

In [166]:
classe2={"Paulo: 10.0", "Ana: 9.9"}

In [168]:
classe2

{'Ana: 9.9', 'Paulo: 10.0'}

In [169]:
classe.update(classe2)

ValueError: dictionary update sequence element #0 has length 11; 2 is required

In [170]:
classe3={"Igor": 4.5, "Rodolfo": 6.5, "Orlando": 1.0, "Pedro": 10.0, "Marco": 9.5}

In [174]:
#concatenação do dicionário 3 com o dicionário 1
classe.update(classe3)

#lista concatenação
classe

{'Ana': 4.5,
 'Beatriz': 6.5,
 'Geraldo': 1.0,
 'José': 10.0,
 'Maria': 9.5,
 'Igor': 4.5,
 'Rodolfo': 6.5,
 'Orlando': 1.0,
 'Pedro': 10.0,
 'Marco': 9.5}

## ESTRUTURAS DE DECISÃO

In [ ]:
"""
As estruturas de decisão permitem alterar o curso do fluxo de uma execução de um programa, 
de acordo com o valor (verdadeiro/falso) de um teste lógico.

Em Python, temos as seguintes estruturas de decisão:

if(se)
if..else(se... senão)
if... elif... else()
"""

In [95]:
valor = int(input("Qual sua idade?"))
if valor < 18:
        print("Você ainda não pode dirigir!")

Qual sua idade?38

In [96]:
valor = int(input("Qual sua idade?"))
if valor < 18:
        print("Você ainda não pode dirigir!")
else:
        print("Você é o cara!")

Qual sua idade?38
Você é o cara!

In [97]:
valor = int(input("Qual sua idade?"))
if valor < 6:
     print("Que coisa fofa!")
elif valor < 18:
     print("Você ainda não pode dirigir!")
elif valor > 60:        
     print ("Você está na melhor idade!")
else:
    print("Você é o cara!")

Qual sua idade?61
Você está na melhor idade!

In [100]:
nota1 = float(input ("Digite a 1ª nota do aluno:"))
nota2 = float(input ("Digite a 2ª nota do aluno:"))
media = (nota1 + nota2)/2
print("Média = ", media)
if media >= 6:
    print ("Aprovado")
else:
    print("Reprovado")

Digite a 1ª nota do aluno:7
Digite a 2ª nota do aluno:7
Média =  7.0
Aprovado

In [101]:
nota1 = float(input("Digite a 1ª nota do aluno:"))
nota2 = float(input("Digite a 2ª nota do aluno:"))
medida = (nota1+nota2)/2
print("Média = ", media)
if media > 6:
        print("Aprovado")
elif media >= 4:
        print("Exame")
else:
        print("Reprovado")

Digite a 1ª nota do aluno:10
Digite a 2ª nota do aluno:8
Média =  7.0
Aprovado

## ESTRUTURAS DE REPETIÇÃO

In [ ]:
"""
A estrutura de repetição é utilizada para executar uma mesma sequencia de comandos várias vezes.
A repetição está associada ou a uma condição, que indica se deve continuar ou não a repetição, 
ou a uma sequência de valores, que determina quantas vezes a sequência deve ser repetida.
As estruturas de repetição são conhecidas também como laços (loops).

"""

## Laço While

In [ ]:
"""
No laço while, o trecho de código da repetição está associado a uma condição.
Enquanto a condição tiver valor verdadeiro, o trecho é executado.
Quando a condição passa a ter valor falso, a repetição termina.
"""

In [103]:
senha = "54321"
leitura = " "
while (leitura != senha):
    leitura = input("Digite a senha: ")
    if leitura == senha:
        print("Acesso liberado")
    else:
        print("Senha incorreta. Tente novamente")

Digite a senha: 1234
Senha incorreta. Tente novamente
Digite a senha: 54321
Acesso liberado

In [104]:
contador = 0
somador = 0
while contador < 5:
    contador = contador + 1
    valor = float(input('Digite o '+str(contador)+' º valor:'))
    somador =somador + valor
print ("Soma =", somador)

Digite o 1 º valor:1
Digite o 2 º valor:2
Digite o 3 º valor:3
Digite o 4 º valor:4
Digite o 5 º valor:5
Soma = 15.0

In [247]:
#Pass, Break, Continue
#Pass pula
#Break interrompe
#Continue continua

counter = 0
while counter < 100:
    if counter == 4:
        break
    else:
        pass
    print(counter)
    counter = counter + 1

0
1
2
3

In [253]:
for verificador in "Luciana":
    if verificador == "n":
        continue
    print(verificador)

L
u
c
i
a
a

In [254]:
#While e For Juntos
for i in range(2,30):
    j = 2
    counter = 0
    while j < i:
        if i % j == 0:
            counter = 1
            j = j + 1
        else:
            j = j + 1
            
    if counter == 0:
        print(str(i) + " é um número primo")
        counter = 0
    else:
        counter = 0

2 é um número primo
3 é um número primo
5 é um número primo
7 é um número primo
11 é um número primo
13 é um número primo
17 é um número primo
19 é um número primo
23 é um número primo
29 é um número primo

## Função Range

In [255]:
#Imprimindo números pares entre 50 e 101

for i in range(50, 101, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [256]:
for i in range(3, 6):
    print(i)

3
4
5

In [257]:
for i in range(0, -20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [259]:
lista = ['Morango', 'Banana', 'Abacaxi', 'Uva']
lista_tamanho = len(lista)
for i in range(0, lista_tamanho):
        print(lista[i])

Morango
Banana
Abacaxi
Uva

In [258]:
#Tudo em Python é um objeto
type(range(0,3))

range

In [265]:
type('papagaio')

str

In [264]:
type(38)

int

## Laço For

In [106]:
"""
O laço for é a estrutura de repetição mais utilizada em Python.
Pode ser utilizado com uma sequência numérica (gerada com o comando range) ou associado a uma lista.
o trecho de código da repetição é executado para cada valor da sequência numérica ou da lista.
"""

'\nO laço for é a estrutura de repetição mais utilizada em Python.\nPode ser utilizado com uma sequência numérica (gerada com o comando range) ou associado a uma lista.\no trecho de código da repetição é executado para cada valor da sequência numérica ou da lista.\n'

In [107]:
s=0
for x in range(1,20,3):
    s=s+x
print('Soma=', s)

Soma= 70

In [111]:
L=list(range(1,20,3))
print(L)

[1, 4, 7, 10, 13, 16, 19]

In [113]:
Lista_notas = [3.4,6.6, 8,9,10,9.5,8.8,4.3]
soma=0
for nota in Lista_notas:
        soma = soma + nota
        média = soma/len(Lista_notas)
print('Média = ', media)

Média =  7.0

In [236]:
# Operando os valores de uma lista com loop for
listaB = [32,53,85,10,15,17,19]
soma=0
for i in listaB:
    double_i = i*2
    soma += double_i
print(soma)

462

In [237]:
# Loops em lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
for valor in listas:
    print(valor)

[1, 2, 3]
[10, 15, 14]
[10.1, 8.7, 2.3]

In [238]:
# Contando os itens da lista
lista = [1,2,3,4,5]
count = 0
for item in lista:
        count += 1
print(count)

5

In [240]:
# Contando o número de colunas de uma lista
# Quando chega na última coluna da lista, o progama pára sozinho
lst = [[1,2,3],[3,4,5],[5,6,7]]
primeira_linha = lst[0]
count=0
for column in primeira_linha:
       count = count +1
print(count)

3

In [241]:
#Pesquisando em listas
listaC = [5,6,7,10,50]

#Loop através da lista
for item in listaC:
    if item ==5:
        print("Número encontrado na lista!")

Número encontrado na lista!

In [242]:
#Listando as chaves de um dicionário
dict = {'k1': 'Python', 'k2': 'R', 'k3': 'Scala'}
for item in dict:
        print(item)

k1
k2
k3

In [243]:
#Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
for k,v in dict.items():
    print(k,v)
    #k é  a chave
    #v é o valor
    #quando você diz ao interprtador for k,v dentro de um dicionário, 
    #o python entende que você está se referindo ao par chave-valor.

k1 Python
k2 R
k3 Scala

## Exercícios de Estrutura de Repetição

In [114]:
s=0
for x in range(3,334,3):
    s = s+x
print("Soma =", s)

Soma = 18648

In [120]:
s=0
for contator in range(1,11):
    nota=float(input("Digite a nota "+str(contador)+":"))
    s=s+nota
print("Média=", s/10)

Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:53
Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:5
Digite a nota 5:5
Média= 9.8

In [124]:
numero=int(input("Digite o número da tabudada:"))
for sequencia in range(1,11):
    print("%2d x %2d = %3d" %(sequencia, numero, sequencia*numero))

Digite o número da tabudada:4
 1 x  4 =   4
 2 x  4 =   8
 3 x  4 =  12
 4 x  4 =  16
 5 x  4 =  20
 6 x  4 =  24
 7 x  4 =  28
 8 x  4 =  32
 9 x  4 =  36
10 x  4 =  40

## FUNÇÕES

In [ ]:
"""
Funções são pequenos trechos de código reutilizáveis.
Elas permitem dar nome a um bloco de comandos e executar esse bloco, a partir de qualquer lugar do programa.
"""

In [127]:
def hello():
    print("Olá mundo!")
hello();

Olá mundo!

In [128]:
def maior(x,y):
    if x>y:
        print(x)
    else:
        print(y)
        
maior(4,7)

7

## Escopo das variáveis

In [ ]:
"""
Toda variável utilizada dentro de uma função tem escopo local, 
isto é, ela não será acessível por outras funções ou pelo programa principal.
Se houver variável com o nome fora da função, será uma outra variável, completamente independente entre si.
"""

In [130]:
def soma(x,y):
        total = x+y
        print("Total soma=", total)
        
#programa principal
total = 10
soma(3,5)
print("Total principal", total)

Total soma= 8
Total principal 10

In [ ]:
"""
Para uma variável ser compartilhada entre diversas funções e o programa principal, 
ela deve ser definida como variável global. Para isto, utiliza-se a instrução global para declarar a variável em todas
as funções para as quais ela deva estar acessível. O mesmo vale para o programa principal.
"""

In [133]:
def soma(x,y):
    global total
    total = x+y
    print("Total soma =", total)
    
#programa principal
global total
total = 10
soma(3,5)
print("Total principal=", total)

Total soma = 8
Total principal= 8

## Retorno de valores

In [ ]:
"""
O comando return é usado para retornar um valor de uma função e encerrá-la. 
Caso não seja declarado um valor de retorno, a função retorna None (que significa nada, sem valor)
"""

In [134]:
def soma(x,y):
    total = x+y
    return total

#programa principal
s=soma(3,5)
print("soma=",s)

soma= 8

In [ ]:
"""
É possível definir um valor padrão para os parâmetros da função. 
Neste caso, quando o valor é omitido na chamada da função, a variável assume o valor padrão.
"""

In [136]:
def calcula_juros(valor, taxa = 10):
    juros = valor*taxa/100
    return juros

calcula_juros(500)

50.0

## Exercícios de Funções

In [138]:
def linha(N):
    for i in range(N):
        print(end='_')
    print(" ")
    
linha(6)

______

In [143]:
def imprime_lista(L):
    contador=0
    for valor in L:
        contador = contador + 1 
        print(contador, ')', valor)
        
imprime_lista(L(1,2,3,4))

TypeError: 'list' object is not callable

In [145]:
imprime_lista(L=[1,22,32,5,4,98,52])

1 ) 1
2 ) 22
3 ) 32
4 ) 5
5 ) 4
6 ) 98
7 ) 52

In [151]:
def media_lista(L):
    somador=0
    for valor in L:
            somador = somador + valor
            #print(somador)
            #print(valor)
            #print(len(L))
    return somador/len(L)

media_lista(L=[8,2,2])

4.0

In [153]:
print("Happy New Year!!! Feliz Ano Novo!!! Salve 2020!!!")

Happy New Year!!! Feliz Ano Novo!!! Salve 2020!!!

## Exercícios  de Variáveis, Tipos e Estruturas de Dados

In [204]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
minhaLista=[1,2,3,4,5,6,7,8,9,10]
print(minhaLista)
minhaLista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [203]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista5=['dado', 'lápis', 'borracha', 'caneta', 'régua']
lista5

['dado', 'lápis', 'borracha', 'caneta', 'régua']

In [209]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
string1 = 'Ciência'
string2 = ' de Dados'
string3 = string1 + string2
string3
print(string3)

Ciência de Dados

In [210]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

T = ( 1, 2, 2, 3, 4, 4, 4, 5)
print(T)

(1, 2, 2, 3, 4, 4, 4, 5)

In [211]:
T.count(4)

3

In [212]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

D={}
print(D)

{}

In [216]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

D={"Nome": 'Luciana', "Matrícula": '89292693', "Lotação": 'GDMT'}
D

{'Nome': 'Luciana', 'Matrícula': '89292693', 'Lotação': 'GDMT'}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [217]:
E={"Data de Admissão": '03-04-2008'}
E

{'Data de Admissão': '03-04-2008'}

In [218]:
D.update(E)

In [219]:
D

{'Nome': 'Luciana',
 'Matrícula': '89292693',
 'Lotação': 'GDMT',
 'Data de Admissão': '03-04-2008'}

In [221]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

D={"Nota1": 10, "Nota2": 9, "Média": [10,2]}
D

{'Nota1': 10, 'Nota2': 9, 'Média': [10, 2]}

In [234]:

# Usando mais de uma condição na cláusula if e introduzindo Placeholders
# Placeholder: emitir mensagens customizadas com o uso do %s e %r
# Lê o valor da variável diretamente do prompt de comando e dá a chance de incluir na mensagem,
# aquilo que o usuário digitou durante a execução da mensagem

# Atenção: cuidado como excesso de IFs, é provável que seu programa tenha algum problema...
# Ou talvez você precise escrever melhor seu algoritmo, 
# fazer um breakdown -  um detalhamento um pouco mais profundo - para aencontrar uma estrugtura melhor de código.

disciplina = input('Digite o nome da disciplina: ')
nota_final = input('Digite a nota final (entre 0 e 100): ')
semestre = input('Digite o semestre (1 a 4): ')

if disciplina == 'Geografia' and nota_final >= '50' and int(semestre) != 1:
        print('Você foi aprovado em %s com média final %r!' %(disciplina, nota_final))
else:
    print('Lamento, acho que você precisa estudar mais!')

Digite o nome da disciplina: Geografia
Digite a nota final (entre 0 e 100): 98
Digite o semestre (1 a 4): 2
Você foi aprovado em Geografia com média final '98'!

In [222]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

Lista=['abacate', (10, 15), {"nota1": 10, "nota2": 8}, 3.1415]
Lista

['abacate', (10, 15), {'nota1': 10, 'nota2': 8}, 3.1415]

In [224]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional do século XXI'
frase[0:18]

'Cientista de Dados'

In [266]:
#Variável Global
var_global = 10

def multiply(num1, num2):
        var_global = num1 * num2 #Esta é uma variável global
        print(var_global)
        
# Observe que mesmo multiplicando os dois parâmetros e colocando dentro da var_global,
# se chamarmos var_global de fora da função, ela continua com o valor da inicialização.
# Isso ocorre porque var_global é uma variável global. Ela foi "batizada" com este nome intencionalmente.

In [268]:
# Chamada da função
multiply(5,25)

var_global

125

10

In [269]:
# Criando funções usando outras funções

# Importando o pacote de funções matemáticas (funções built-in, prontas...)
import math

def numPrimo(num):
        """
        Verificando se é um número primo
        """
        if (num % 2) == 0 and num >2:
            return "Este número não é primo"
        for i in range(3, int(math.sqrt(num)) + 1, 2):
            #começa no três e vai incrementando de dois em dois, trazendo o quadrado (square) de um número 
            if (num % i) == 0:
                    return "Este número não é primo"
            return "Este número é primo"

In [270]:
numPrimo(541)

'Este número é primo'

In [271]:
# Fazendo split dos dados
def split_string(text):
    return text.split(" ")

In [272]:
texto = "Está função será bastante útil para separar grandes volumes de dados."

In [273]:
print(split_string(texto))

['Está', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [274]:
# Podemos atribuir o output de uma função, para uma variável
token = print(split_string(texto))

['Está', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [277]:
token

In [284]:
caixa_baixa = "Este Texto Deveria Estar Todo Em LowerCase"

def lowerCase(text):
    return text.lower()

lowercased_string = lowerCase(caixa_baixa)

lowercased_string

'este texto deveria estar todo em lowercase'

In [285]:
# Funções com número variável de argumentos
def printVarInfo( arg1, *vartuple ):
   # Imprimindo o valor do primeiro argumento
    print ("O parâmetro passado foi: ", arg1)
   
   # Imprimindo o valor do segundo argumento 
    for item in vartuple:
        print ("O parâmetro passado foi: ", item)
    return;

In [286]:
# Fazendo chamada à função usando apenas 1 argumento
printVarInfo(10)

O parâmetro passado foi:  10

In [287]:
printVarInfo('Chocolate', 'Morango', 'Banana')

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango
O parâmetro passado foi:  Banana

## Exercícios de Loops e Condicionais

In [288]:
# Exercício 1 - Crie uma estrutura que pergunte ao usuário qual o dia da semana. Se o dia for igual a Domingo ou 
# igual a sábado, imprima na tela "Hoje é dia de descanso", caso contrário imprima na tela "Você precisa trabalhar!"
dia = input('Digite o dia da semana: ')
if dia == 'Domingo' or dia == 'Sábado':
    print("Hoje é dia de descanso")
else:
    print("Você precisa trabalhar!")

Digite o dia da semana: 5
Você precisa trabalhar!

In [289]:
# Exercício 2 - Crie uma lista de 5 frutas e verifique se a fruta 'Morango' faz parte da lista
lista = ['Laranja', 'Maça', 'Abacaxi', 'Uva', 'Morango']
for fruta in lista:
    if fruta == 'Morango':
        print("Morango faz parte da lista de frutas")

Morango faz parte da lista de frutas

In [290]:
# Exercício 3 - Crie uma tupla de 4 elementos, multiplique cada elemento da tupla por 2 e guarde os resultados em uma 
# lista
tup1 = (1, 2, 3, 4)
lst1 = []
for i in tup1:
    novo_valor = i * 2
    lst1.append(novo_valor)
print(lst1)

[2, 4, 6, 8]

In [291]:
# Exercício 4 - Crie uma sequência de números pares entre 100 e 150 e imprima na tela
for i in range(100, 151, 2):
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150

In [292]:
# Exercício 5 - Crie uma variável chamada temperatura e atribua o valor 40. Enquanto temperatura for maior que 35, 
# imprima as temperaturas na tela
temperatura = 40  
while temperatura > 35: 
    print(temperatura)
    temperatura = temperatura - 1

40
39
38
37
36

In [293]:
# Exercício 6 - Crie uma variável chamada contador = 0. Enquanto counter for menor que 100, imprima os valores na tela,
# mas quando for encontrado o valor 23, interrompa a execução do programa
contador = 0
while contador < 100:
    if contador == 23:
        break
    print(contador)
    contador += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [294]:
# Exercício 7 - Crie uma lista vazia e uma variável com valor 4. Enquanto o valor da variável for menor ou igual a 20, 
# adicione à lista, apenas os valores pares e imprima a lista
numeros = list()
i = 4
while (i <= 20):
    numeros.append(i)
    i = i+2
print(numeros)

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [295]:
# Exercício 8 - Transforme o resultado desta função range em uma lista: range(5, 45, 2)
nums = range(5, 45, 2)
print(list(nums))

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

In [297]:
# Exercício 9 - Faça a correção dos erros no código abaixo e execute o programa. Dica: são 3 erros.
temperatura = float(input('Qual a temperatura? '))
if temperatura > 30:
    print('Vista roupas leves.')
else:
    print('Busque seus casacos.')

Qual a temperatura? 40
Vista roupas leves.

In [298]:
# Exercício 10 - Faça um programa que conte quantas vezes a letra "r" aparece na frase abaixo. 
# Use um placeholder na sua instrução de impressão

# “É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a 
# vantagem de existir.” (Machado de Assis)

frase = "É melhor, muito melhor, contentar-se com a realidade; se ela não é tão brilhante como os sonhos, tem pelo menos a vantagem de existir." 
count = 0
for caracter in frase:
    if caracter == 'r':
        count += 1
print("O caracter r aparece %s vezes na frase." %(count))

O caracter r aparece 6 vezes na frase.

## Expressões LAMBDA

In [ ]:
# Função in-line, função anônima... conhecida como função Lambda
# Podemos criar funções ad-hoc (significado: para um fim específico) 
# sem a necessidade de definir uma função usando a palavra reservada def.

# Expressões lambda realmente são úteis, quando usadas em conjunto com as funções map(), filter() e reduce().

# Expressões lambda são usadas para criar funções simples. 

# São também chamadas funções in-line ou apenas anônimas.


# Diferenças:

# def -> cria um objeto e atribui um nome a ele (nome da função)

# lambda -> cria um objeto, mas retorna como um resultado em tempo de execução.

In [300]:

first = lambda s: s[0]

In [301]:
first('Python')

'P'

In [302]:
reverso = lambda s: s[::-1]
reverso('Python')

'nohtyP'

In [303]:
addNum = lambda x,y : x+y
addNum(2,3)

5